<!-- footer -->
      <footer class="page-footer2">
          <div class='footer-content'>
            <div class="row">
              <div class="col-12">
                <h5 class="white-text left-align">StatsDash</h5>
                <p class="left-align"><a class="text-lighten-3 nba-link" href="https://www.nba.com/#/">NBA Lookup</a></p>
                <div class="footer-copyright">
                  <div class="container center-align">
                    © 2019 Copyright | StatsDash
                  </div>
                </div>
              </div>
            </div>
          </div>
      </footer> 

        