    <!---- navbar --->
    <nav>
     <div class="nav-wrapper grey darken-3">
        <a href="#!" class="brand-logo">StatsDash</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="../dashboard.handlebars"><i class="material-icons left">search</i>Dashboard</a></li>
                <li><a href="../register.handlebars"><i class="material-icons right">view_module</i>Register</a></li>
            </ul>
     </div>
    </nav>