    <!---navbar --->
    
    <header>
        <nav>
        <div class="nav-wrapper">
            <a href="/" class="brand-logo">StatsDash</a>
                <ul class="right hide-on-med-and-down">

                    <li><a href="/login">Dashboard</a></li>
                    <li><a href="/compare">Compare Mode</a></li>
                    <li><a href="/signup">Register</a></li>
                    <li><a href="/logout">Log Out</a></li>

                </ul>
        </div>
        </nav>
    </header>
    <!-- jquery library -->
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="crossorigin="anonymous"></script>
<script>
$(document).ready(function(){
    $('.modal').modal();
    $('.search').modal();
  })
</script>
 <!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>