    <!---- navbar --->
    <nav>
     <div class="nav-wrapper grey darken-3">
        <a href="#!" class="brand-logo">StatsDash</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#"><i class="material-icons left">view_module</i>Dashboard</a></li>
                <li><a href="#"><i class="material-icons right">plus_one</i>Register</a></li>
            </ul>
     </div>
    </nav>