<div class="compareBackground">
    {{>header}}
    <div class="row center-align">
        <h1>Compare Mode</h1>
        <h3>Search for a NBA Player below</h3>
        <form action="#">
            <div class="file-field input-field">

                <div class="ui-widget">
                    <input id="playerName" placeholder="Player Name">
                </div>
            </div>
        </form>
        <div class="row center-align">
            <div class="btn search-Btn">
                <span>Search</span>

            </div>
        </div>
        <div class="row center-align searchRow"></div>

    </div>

    {{>footer}}

</div>


<div class="carddiv">
    <div class="cardimage"></div>
    <div class="row"></div>
</div>

<!-- jquery library -->
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>