{{>header}}
<div class="compareBackground">
    <div class="row center-align">
    <div class="col s12 m6 l3 black">
        <div class="card-smallProfile">
        <div class="card-image">
          <img src="/images/image8.jpeg">
        </div>
        <div class="card-content">
          <h4>Welcome!</h4>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l3 black">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="/images/image7.jpg">
            </div>
            <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
            <p><a href="#">This is a link</a></p>
            </div>
            <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
        </div>    
    </div>
    <div class="col s12 m6 l3 black">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="/images/image6.jpg">
            </div>
            <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
            <p><a href="#">This is a link</a></p>
            </div>
            <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
        </div>  
    </div>
    <div class="col s12 m6 l3 black">
        <div class="card-panel">
                    <center>
                        <a class="btn red darken-4 waves-effect waves-light btn-medium">My Roster</a>
                    </center>
                </div>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <div class="card-panel">
                    <center>
                        <a class="btn blue darken-4 waves-effect waves-light btn-medium">Compare Mode</a>
                            <li id="myPlayers"><a class="btn blue darken-3 waves-effect btn-small" href="#">My Players</a>
                            <li id="allPlayers"><a class="btn blue darken-3 waves-effect btn-small" href="#">All Players</a>
                    </center>    
                </div>   
            </div>
    </div>

</div>
</div>

{{>footer}}























