<div class="compareBackground">
    {{>header}}
    <div class="row">
        <center>
            <h3 class="white-text">My Roster</h3>
        </center>
        <div class="col s3">
            <div class="card horizontal small">
                <div class="card-image">
                    <img src="/images/image8.jpeg">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p>Welcome User: </p>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col 12 searchRow"></div>
        </div>
        {{>footer}}
    </div>

    <!-- jquery library -->
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script>
    </script>
    <script src="js/deletePlayer.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>