
    <!-- navbar --->
    <nav>
     <div class="nav-wrapper grey darken-3">
        <a href="#!" class="brand-logo">StatsDash</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="sass.html"><i class="material-icons left">search</i>Dashboard</a></li>
                <li><a href="badges.html"><i class="material-icons right">view_module</i>Register</a></li>
            </ul>
     </div>
    </nav>
    <div id="bg-container">
        <div class="form-container">
            <div class="form">
                <form action="login" id="login" name="login" method="post">
                    <fieldset>
                        <legend class="login-head">Login</legend>
                        <p class="login-content">If you have an account with us, please login.</p>
    
                       <!-- email -->
                        <div class="border-bottom">
                            <label for="user" class="login-user">Email</label>
                            <span class="login-icon"><i class="fas fa-user"></i></span>
                            <input type="email" id="email" name="email" placeholder="Enter your Email address" size="20" class="input">
                        </div>
    
                       <!-- password -->
                        <div class="border-bottom">
                            <label for="password" class="login-user">Password</label>
                            <span class="login-icon"><i class="fas fa-key"></i></span>
                            <input type="password" id="password" name="password" placeholder="password" size="20" class="input">
                        </div>
    
                      <!-- forgot password -->
                        <p class="right">
                            <a href="#">Forgot password?</a>
                        </p>
                        <!-- login -->
                        <button class="login-btn" type="submit">LOGIN</button>
                    </fieldset>
    
                    <p class="login-content2">Are you new to StatsDash?
                        <a href="/register">Register here</a>
                    </p>
                </form>
            </div>
        </div>
    </div>   
<!-- footer -->
      <footer class="page-footer grey darken-3">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2019 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
        </footer>
            

<!-- jquery library -->
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="crossorigin="anonymous"></script>
<script>
// for the slider
$(document).ready(function(){
    $('.slider').slider();
  });
</script>

 <!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
