{{>header}}
    <div id="dashboard-container">
        <div class="dashboard-left-side">
            <div class="row">
                <div class="col">
                    <div class="userProfile">
                        <center>
                        <h4>Welcome</h4>
                        </center>
                    </div>
                    <div class="teams">
                        <center>
                        <h4>My Team Overview</h4>
                        </center>
                    </div>
                </div>
                
            </div>
            
            

            
        </div>

        <div class="dashboard-right-side">
            <div class="options">
                <br>
                <br>
                <br>
                <div class="card-panel">
                    <center>
                        <a class="btn red darken-4 waves-effect waves-light btn-medium">My Roster</a>
                    </center>
                </div>
                <br>
                <br>
                <div class="card-panel">
                    <center>
                        <a class="btn blue darken-4 waves-effect waves-light btn-medium">Compare Mode</a>
                            <li id="myPlayers"><a class="btn blue darken-3 waves-effect btn-small" href="#">My Players</a>
                            <li id="allPlayers"><a class="btn blue darken-3 waves-effect btn-small" href="#">All Players</a>
                    </center>    
                </div>   
            </div>
        </div>
    </div>
    
{{>footer}}

<!-- jquery library -->
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="crossorigin="anonymous"></script>
<script>

</script>

 <!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
