{{>header}}
    
        {{!-- <div class="dashboard-left-side">
            <div class="row">
                <div class="col">
                    <div class="userProfile">
                        <center>
                        <h4>Welcome</h4>
                        </center>
                    </div>
                    <div class="teams">
                        <center>
                        <h4>My Team Overview</h4>
                        </center>
                    </div>
                </div>
            </div> --}}
            {{!-- <div class="col">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="../public/images/image6.jpg">
                    </div>
                    <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
                    <p><a href="#">This is a link</a></p>
                    </div>
                    <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                    </div>
                </div> --}}
           
            {{!-- <div class="wrap">
                <div class="search">
                    <input type="text" class="searchTerm" placeholder="What are you looking for?">
                    <button type="submit" class="searchButton">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div> --}}

    

        {{!-- </div>

        <div class="dashboard-right-side">
            <div class="options">
                <br>
                <br>
                <br>
                <div class="card-panel">
                    <center>
                        <a class="btn red darken-4 waves-effect waves-light btn-medium">My Roster</a>
                    </center>
                </div>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <div class="card-panel">
                    <center>
                        <a class="btn blue darken-4 waves-effect waves-light btn-medium">Compare Mode</a>
                            <li id="myPlayers"><a class="btn blue darken-3 waves-effect btn-small" href="#">My Players</a>
                            <li id="allPlayers"><a class="btn blue darken-3 waves-effect btn-small" href="#">All Players</a>
                    </center>    
                </div>   
            </div>
        </div>
    </div> --}}
    
{{>footer}}

<!-- jquery library -->
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="crossorigin="anonymous"></script>
<script>

</script>

 <!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
