{{>header}}
    <div id="dashboard-container">
        <div class="dashboard-left-side">
            <div class="row">
                <div class="userImage">
                    <img class="responsive-image" src="../public/images/image8.jpeg" alt="">
                </div>
            </div>
           
            <div class="userPhoto">
            </div>
        </div>

        <div class="dashboard-right-side">
            <h2>seee</h2>
        </div>
    </div>
    
{{>footer}}

<!-- jquery library -->
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="crossorigin="anonymous"></script>
<script>

</script>

 <!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
