{{>header}}
    <div id="bg-container">
        <div class="form-container">
            <div class="form">
                <form action="login" id="login" name="login" method="post">
                    <fieldset>
                        <legend class="login-head">Login</legend>
                        <p class="login-content">If you have an account with us, please login.</p>
    
                       <!-- email -->
                        <div class="border-bottom">
                            <label for="user" class="login-user">Email</label>
                            <span class="login-icon"><i class="fas fa-user"></i></span>
                            <input type="email" id="email" name="email" placeholder="Enter your Email address" size="20" class="input">
                        </div>
    
                       <!-- password -->
                        <div class="border-bottom">
                            <label for="password" class="login-user">Password</label>
                            <span class="login-icon"><i class="fas fa-key"></i></span>
                            <input type="password" id="password" name="password" placeholder="password" size="20" class="input">
                        </div>
    
                      <!-- forgot password -->
                        <p class="right">
                            <a href="#">Forgot password?</a>
                        </p>
                        <!-- login -->
                        <button class="login-btn" type="submit">LOGIN</button>
                    </fieldset>
    
                    <p class="login-content2">Are you new to StatsDash?
                        <a href="/register">Register here</a>
                    </p>
                </form>
            </div>
        </div>
    </div>   
{{>footer}}

<!-- jquery library -->
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="crossorigin="anonymous"></script>
<script>

</script>

 <!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
