{{>header}}
  <!--Parallax--> 
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center white-text white-lighten-2">We make finding hard to get stats easy!</h1>
        
        <div class="row center">
          <h5 class="header col s12 light"></h5>
        </div>
        {{!-- <div class="row center">
          <a href="./dashboard.handlebars" id="download-button" class="btn-large waves-effect waves-light black lighten-1">Get Started</a>
        </div> --}}
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="/images/image1.jpg" alt="U"></div>
  </div>


  <div class="black">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m6">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">info</i></h2>
            <h5 class="center">About </h5>

            <p class="light">Are you serious about beating dude's fanatsy team? This is for you!</p>
          </div>
        </div>

        <div class="col s12 m6">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Services</h5>

            <p class="light">A statistic dashboard that allows you to compare players in the NBA roster for strategic creation of fantasy league teams.</p>
          </div>
        </div>
{{!-- 
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Contact</h5>

            <p class="light">Details below</p>
          </div>
        </div> --}}
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header black-text col s12 light">Have you ever found a resource that has all the stats you need in one place?</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/images/image6.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <div class="black">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Our Team</h4>
          <div class="col s3">
                    <img class="responsive-img" src="./images/image8.jpeg">
                </div>
                <div class="col s3">
                    <img class="responsive-img" src="./images/image8.jpeg">
                </div>
                <div class="col s3">
                    <img class="responsive-img" src="./images/image8.jpeg">
                </div>
                <div class="col s3">
                    <img class="responsive-img" src="./images/image8.jpeg">
                </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        {{!-- <div class="row center">
          <h5 class="header col s12 light">This is the place f</h5>
        </div> --}}
      </div>
    </div>
    <div class="parallax"><img src="/images/image5.jpg" alt="Unsplashed background img 3"></div>
  </div>

{{>footer}}
   
<!-- jquery library -->
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="crossorigin="anonymous"></script>
<script>
// for the parallax
$(document).ready(function(){
    $('.parallax').parallax();
  });
</script>

 <!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>