{{>header}}
      <!--Parallax-->
      <div class="parallax-container">
          <div class="parallax"><img src="/images/image6.jpg"></div>
        </div>
        <div class="black">
          <div class="row container">
            <h2 class="white-text">About</h2>
            <p class="white-text">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.</p>
          </div>
        </div>
        <div class="parallax-container">
          <div class="parallax"><img src="/images/image6.jpg"></div>
        </div>
        <div class="black">
            <div class="row container">
              <h2 class="white-text">Services</h2>
              <p class="white-text">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.</p>
            </div>
        </div>
        <div class="parallax-container">
            <div class="parallax"><img src="/images/image5.jpg"></div>
        </div>
   
{{>footer}}


<!-- jquery library -->
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="crossorigin="anonymous"></script>
<script>
// for the parallax
$(document).ready(function(){
    $('.parallax').parallax();
  });
</script>

 <!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>