{{{head}}}
{{{body}}}
<body>
    <!---- navbar --->
    <nav>
     <div class="nav-wrapper grey darken-3">
        <a href="#!" class="brand-logo">StatsDash</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="sass.html"><i class="material-icons left">search</i>Dashboard</a></li>
                <li><a href="badges.html"><i class="material-icons right">view_module</i>Register</a></li>
            </ul>
     </div>
    </nav>
<!-- registration image on the left  -->
<div id="register-container">
    <section class="register-left-side">
    </section>
<!-- registration form -->
    <section class="register-right-side">
        <form name="register" id="register" method="post" action="/register">
            <fieldset>
                <legend class="register-head">Create an account</legend>
                <p class="register-content">Takes less than a minute</p>

                <span class="register-input register-input-hoshi">
                    <input type="text" id="username" name="username" size="20" class="register-input-field register-input-field-hoshi">
                    <label for="username" class="register-input-label register-input-label-hoshi register-input-label-hoshi-color">
                        <span class="register-input-label-content register-input-label-content-hoshi">Username:</span>
                    </label>
                </span>

                <span class="register-input register-input-hoshi">
                    <input type="email" id="email" name="email" size="20" class="register-input-field register-input-field-hoshi">
                    <label for="email" class="register-input-label register-input-label-hoshi register-input-label-hoshi-color">
                        <span class="register-input-label-content register-input-label-content-hoshi">Email:</span>
                    </label>
                </span>

                <span class="register-input register-input-hoshi">
                    <input type="password" id="password" name="password" size="20" class="register-input-field register-input-field-hoshi">
                    <label for="phone" class="register-input-label register-input-label-hoshi register-input-label-hoshi-color">
                        <span class="register-input-label-content register-input-label-content-hoshi">Password:</span>
                    </label>
                </span>

                <div class="register-sign-up">
                    <button class="register-sign-up-btn float-left" name="submitted" type="submit">Sign Up</button>
                    <span><a href="/login">I am already a member</a></span>
                </div>
            </fieldset>
        </form>
    </section>
</div>    
<!-- footer -->
      <!-- <footer class="page-footer pink darken-4">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2019 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
        </footer> -->
            

<!-- jquery library -->
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="crossorigin="anonymous"></script>
<script>
// for the slider
$(document).ready(function(){
    $('.slider').slider();
  });
</script>

 <!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>