* {
    font-family: 'Open Sans', sans-serif;
}
h1 {
  color: white;
  font-weight: 100;
  font-size: 24px;
  margin-top:0px;
}
/* nav */
.brand-logo{
    margin-left: 15px;
}
.nav-wrapper {
    background-color: #C61856;
}

/* Registration */
#register-container {
    display: flex;
    width: 100%;
}
.register-left-side {
    background-image: url(StatsDash/public/images/image6.jpg);
    width: 50%;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    min-height: 100vh;
    justify-content: center;
}
.registerPhoto {
    width: 100%;
}

.register-head {
    text-align: center;
}

.register-content {
    text-align: center;
}

.register-right-side {
    background: black;
    height: 100vh;
    position: relative;
    width: 50%;
    color: white;
    padding: 120px 120px 100px 120px;
}

.register-sign-up {
  text-align: center;
}
/* login */

.form-container {
  flex: 1 0 auto;
  width: 100%;
  background-image: url(/images/image9.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 1000px;
  display: flex;
  flex-direction: column;
}

.form {
  width: 50%;
  margin: 5% auto;
  background: #fff;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 1px 1px 1px 1px black;
  padding: 50px 55px;
  max-width: 500px;
}

.login-head {
  display: block;
  font-family: 'Dosis', sans-serif;
  font-size: 50px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 20px;
}

.login-content {
  text-align: center;
  padding-bottom: 35px;
  font-family: 'Dosis', sans-serif;
}

/* .border-bottom {
  border-bottom: 1px solid #333;
  margin-bottom: 15px;
} */

.login-user {
  font-family: 'Dosis', sans-serif;
  font-size: 20px;
  color: #333;
  line-height: 1.5;
  padding-left: 7px;
  display: block;
}

.login-icon {
  display: inline-block;
  margin-left: 20px;
}

.input {
  font-size: 18px !important;
  color: #333;
  line-height: 1.2;
  display: inline-block;
  width: 70%;
  height: 50px;
  background: transparent;
  padding: 0 7px 0 5px;
  outline: none;
  border: none;
}

.right {
  font-size: 10px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
  text-align: right;
}

.login-btn {
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 30px;
  background-color: #33cccc;
  border-style: none;
  margin-right: 20px;
  margin-top: 10px;
}

.login-content2 {
  padding-top: 35px;
  padding-bottom: 35px;
}

@media screen and (max-width: 998px) {

  .form-container {
      width: 100%;
      margin: 0;
  }

  .form {
      width: 50%;
      margin: 10% auto;
  }
}

@media screen and (max-width: 758px) {
  .form {
      padding: 20px 25px;
      min-width: 285px;
  }
}

/* homepage */
.black {
    color: white;
}
#image1 {
    width: 500px;
}
.parallax-container {
    width: 100%;
    margin-top: 0px;
    margin-bottom:0px;
    height: 500px !important;
}
nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: black;
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}


/* dashboard */
.btn-floating {
  margin-right: 5px;
  margin-top: 5px;
}
h3 {
    color: white;
}
#dashboard-container {
    display: flex;
    width: 100%;
    /* height: 100vh; */
}
#myPlayers {
    margin-top: 10px;
}
.userProfile {
    display: flex;
    width: 250px; 
    background: white;
    margin: 75px 250px 10px 50px;
    padding: 50px;
    border: solid 8px grey;
}
.teams {
    display: inline-block;
    width: 650px;
    background: white;
    margin-right: 75px;
    padding: 50px 80px ;
    /* justify-content: space-between; */
    border: solid 8px grey;

}

.page-footer2 {
    background-color: #C61856;
    margin: 0px !important;
}

/* compare */
#playerName {
  color: white;
  font-size: 18px;
}
.compareBackground {
    background: black;
}
.card-smallProfile {
    margin-top: 50px;
}
.fontColor {
  color: black;
}
/* label color */
.input-field label {
  color: #000;
}
/* label focus color */
.input-field input[type=text]:focus + label {
  color: #000;
}
/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
/* valid color */
.input-field input[type=text].valid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
/* invalid color */
.input-field input[type=text].invalid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: #000;
}
/* profile, my roster*/
.card {
    margin-top: 20px;
    margin-left: 20px;
}
