* {
    font-family: 'Open Sans', sans-serif;
}


/* nav */
.brand-logo{
    margin-left: 15px;
}
.nav-wrapper {
    background-color: #C61856;
}

/* Registration */
#register-container {
    display: flex;
    width: 100%;
}
.register-left-side {
    background-image: url(StatsDash/public/images/image6.jpg);
    width: 50%;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    min-height: 100vh;
    justify-content: center;
}
.register-right-side {
    background: black;
    height: 100vh;
    position: relative;
    width: 50%;
    color: white;
    padding: 120px 120px 100px 120px;
}

/* homepage */
.black {
    color: white;
}
#image1 {
    width: 500px;
}
.parallax-container {
    width: 100%;
}
/* dashboard */
h3 {
    color: white;
}
#dashboard-container {
    display: flex;
    width: 100%;
}
.dashboard-left-side {
    background: black;
    height: 100vh;
    position: relative;
    width: 75%;
}
.dashboard-right-side {
    background: #C4C4C4;
    height: 100vh;
    position: relative;
    width: 25%;
}
#myPlayers {
    margin-top: 10px;
}
.userProfile {
    display: flex;
    width: 250px; 
    background: white;
    margin: 75px 250px 10px 50px;
    padding: 50px;
    border: solid 8px grey;
}
.teams {
    display: inline-block;
    width: 650px;
    background: white;
    margin-right: 75px;
    padding: 50px 80px ;
    /* justify-content: space-between; */
    border: solid 8px grey;

}

#search {
    margin: 100px 170px 170px 100px;
}
.input-field {
    margin: 30px 15px 30px 10px;
}
.page-footer {
    background-color: #C61856;
}

/* compare */
.compareBackground {
    background: black;
}
.card-smallProfile {
    margin-top: 20px;
}
