* {
    font-family: 'Open Sans', sans-serif;
}


/* nav */
.brand-logo{
    margin-left: 15px;
}
/* Registration */
#register-container {
    display: flex;
    width: 100%;
}
.register-left-side {
    background-image: url(StatsDash/public/images/image6.jpg);
    width: 50%;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    min-height: 100vh;
    justify-content: center;
}
.register-right-side {
    background: black;
    height: 100vh;
    position: relative;
    width: 50%;
    color: white;
    padding: 120px 120px 100px 120px;
}

/* homepage */
.black {
    color: white;
}
#image1 {
    width: 500px;
}
.parallax-container {
    width: 100%;
}


/* dashboard */
h3 {
    color: white;
}
#dashboard-container {
    display: flex;
    width: 100%;
}
.dashboard-left-side {
    background:#062F4F;
    height: 100vh;
    position: relative;
    width: 75%;
}
.dashboard-right-side {
    background:#882601;
    height: 100vh;
    position: relative;
    width: 25%;
}
#myPlayers {
    margin-top: 10px;
}
.userProfile {
    display: inline-block;
    
    width: 250px; 
    background: white;
    margin: 75px 250px 10px 50px;
    padding: 50px;
    border: solid 8px grey;
}
.teams {
    display: inline-block;
    width: 650px;
    background: white;
    margin-right: 75px;
    padding: 50px 80px ;
    /* justify-content: space-between; */
    border: solid 8px grey;

}

#search {
    margin: 100px 170px 170px 100px;
}
.input-field {
    margin: 30px 15px 30px 10px;
}
/* search */
/* @import url(https://fonts.googleapis.com/css?family=Open+Sans);

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
} */

/*Resize the wrap to see the search bar change!*/
/* .wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */


